<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gczx.application.dao.IUserMapper">
    <select id="getDemo" resultType="com.gczx.application.entity.UserEntity">
        select * from t_user
        <where>
            <if test="null != name and name !='' ">
                name like CONCAT('%',#{name},'%')
            </if>
        </where>
        limit #{offset}, #{pageSize}
    </select>
</mapper>